.reset{
    margin-top: 15%;
   padding-bottom: 280px;
}
.bg{
    width: 100%;
    max-height: 100%;
    background: url("/assets/img/bg.png")
}
.ng-touched .ng-valid  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
.ng-invalid .ng-untouched{
    border: 1px solid #c0c0c0; 
}