<div class="container bg">
<div class="row">
  <div class="reset">
    <div class="login-logo">
        <a href="" style="color: white;"><b>Jobnate</b>Admin</a>
    </div>
    <!-- START LOCK SCREEN ITEM -->
    <div class="lockscreen-item">  
      <!-- lockscreen credentials (contains the form) -->
      <form  [formGroup] = "formulario" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Digite o e-mail" formControlName="email">
          <div class="input-group-btn">
            <button type="submit" class="btn" [disabled]="!formulario.valid"><i class="fa fa-arrow-right text-muted"></i></button>
          </div>
        </div>
        <div *ngIf="formulario.get('email').invalid && (formulario.get('email').dirty || formulario.get('email').touched)"
        class="alert alert-danger"
        >
        <div *ngIf="formulario.get('email').hasError('required')">
          campo é Requerido
        </div>
        <div *ngIf="formulario.get('email').hasError('email')">
          Email inválido
        </div>
      </div>

      <div *ngIf="error != undefined" class="alert alert-danger">
          {{error}}
      </div>

      </form>
      <!-- /.lockscreen credentials -->
    </div>

    <!-- /.lockscreen-item -->
    <div class="help-block text-center" style="color: white;">
      Digite seu e-mail e receba as instruções para redefinir a sua senha.
    </div>
    
    <div class="text-center">
        <button class="btn" routerLink="/" >Ou faça login com outro Usuário</button>
    </div>
    
    <div class="lockscreen-footer text-center" style="color: white;">
      Copyright &copy; 2018 <b><a href="#" style="color: white;">Jobnate Desenvolvimento</a></b>
      <br>
      Todos os direitos reservados
    </div>
  </div>

  
</div>
</div>
