<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Team Page controller
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"><a href="#">Team Page</a></li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
  
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-body no-padding">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Titulo</th>
                  <th>Bio</th>
                  <th>Social</th>
                  <th>Photo</th>
                  <th style="width: 140px">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let teams of team">
                  <td>{{teams.name}}</td>
                  <td>{{teams.title}}</td>
                  <td>{{teams.bio}}</td>
                  <td>
                    <ul style="margin-left: -30px">
                      <li *ngIf="teams.social.facebook != undefined"><a href="{{teams.social.facebook}}" target="facebook">Facebook</a></li>
                      <li *ngIf="teams.social.github != undefined" ><a href="{{teams.social.github}}" target="github">Github</a></li>
                      <li *ngIf="teams.social.linkedin != undefined" ><a href="{{teams.social.linkedin}}" target="linkedin">Linkedin</a></li>
                      <li *ngIf="teams.social.instagram != undefined" ><a href="{{teams.social.instagram}}" target="instagram">Instagram</a></li>
                      <li *ngIf="teams.social.twitter != undefined" ><a href="{{teams.social.twitter}}" target="twitter">Twitter</a></li>
                    </ul>
                  </td>
                  <td>
                    <img height="100px" width="100px" class="img-circle" [src]="teams.photo">
                  </td>
                  <td>
                    <button (click)="onEdit(teams, template)" style="margin-top: 25%;" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
  
  </section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar Usuário(a) {{editarTeam.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      
        <div class="form-group has-feedback">
          <label>Nome:</label>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Digite seu nome"
          formControlName="name"
          >
    
          <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)"
          class="alert alert-danger"
          >
            <div *ngIf="form.get('name').hasError('required')">
              campo é Requerido
            </div>
          </div>
        </div>

        <div class="form-group has-feedback">
          <label>Titulo:</label>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Digite o Titulo"
          formControlName="title"
          >
    
          <div *ngIf="form.get('title').invalid && (form.get('title').dirty || form.get('title').touched)"
          class="alert alert-danger"
          >
            <div *ngIf="form.get('title').hasError('required')">
              campo é Requerido
            </div>
          </div>
        </div>

        <div class="form-group has-feedback">
          <label>Biográfia:</label>
          <textarea 
          rows="3"
          class="form-control" 
          placeholder="Digite Sua biografia"
          formControlName="bio"
          ></textarea>
    
          <div *ngIf="form.get('bio').invalid && (form.get('bio').dirty || form.get('bio').touched)"
          class="alert alert-danger"
          >
            <div *ngIf="form.get('bio').hasError('required')">
              campo é Requerido
            </div>
          </div>
        </div>
        <div formGroupName="social">
          <label>Redes Socias:</label>      
          <div class="form-group has-feedback">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Digite a Url do Facebook"
            formControlName="facebook"
            >
          </div>
          <div class="form-group has-feedback">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Digite a Url do Github"
            formControlName="github"
            >
          </div>
          <div class="form-group has-feedback">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Digite a Url do instagram"
            formControlName="instagram"
            >
          </div>
          <div class="form-group has-feedback">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Digite a Url do linkedin"
            formControlName="linkedin"
            >
          </div>
          <div class="form-group has-feedback">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Digite a Url do twitter"
            formControlName="twitter"
            >
          </div>
        </div>
        
        <div class="form-group has-feedback">
          <label>Photo:</label>
          <input 
          type="file" 
          class="form-control" 
          (change)="onFileChanges($event.target.files)"
          accept="image/*"
          >
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
  </div>
</ng-template>